body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 220px;
    background-color:#821131;
    color: white;
    padding: 15px;
    position: fixed;
    height: 100vh;
}

.sidebar h2 {
    margin: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sidebar ul li a:hover {
    background-color: #34495e;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.notifications {
    position: relative;
}

#notification-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#notification-count {
    background-color: #e74c3c;
    border-radius: 50%;
    padding: 2px 8px;
    color: white;
    margin-left: 5px;
}

.content {
    margin-top: 20px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background-color: #ecf0f1;
    border-radius: 5px;
    padding: 20px;
    flex: 1;
}
